{% extends 'base.html' %}
{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4"></h1>
          <H1 class="lead"></H1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Team Members</h2>
          <p class="lead">
            <b>Ian Crueldad</b> - Project Manager - Database and Algorithm Extraordinaire</p>
            <p class="lead">
            <b>Jacquie Rollins</b> - Chief Engineer/Architect - Backend and Frontend Superstar</p> 
            <p class="lead">
              <b>Elmira Akbaripourdibazar</b> - Marketing Design Specialist</p>
            <p class="lead">
              <b>Monica Montano</b> - Health Care Consultant </p>
            <p class="lead">
              <b>Farhad Turabi</b> - Moral Support Specialist</p>   
         
          </p>
          <img src="assets/img/about.jpg" alt="">
          <p class="mt-4"></p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img src="static/img/group.jpg" alt="">
              <p class="card-text">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4></h4>
    <hr>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center"></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
          <h4></h4>
          <p class="text-success">
            <i class=""></i> </p>
          <hr>

        </div>

        <div class="col-md-4">
          <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
          <h4></h4>
          <p class="text-success"></p>
          <hr>

        </div>

        <div class="col-md-4">
          <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
          <h4></h4>
          <p class="text-success"></p>
          <hr>
        </div>
      </div>
    </div>
  </section>


{% endblock  %}
