
{% extends 'base.html' %}
{% block content %}
<section id="showcase">
  <div class="container text-center">
    <header class="display-4"style="line-height:2.5em;"><span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;">Health Care Now</span></header>
    <a class="btn btn-primary" href="/chooseplan">Find your plan now!</a>
    <div class="home-search p-5">
        <h1 class="display-4 mb-4">
        </h1>
      </div>
    </div>
</section>
<section>
  <div>
    <h3> </h3>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Contact Us</h3>
        <p>Is there a problem? Let us know!</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>About Us</h3>
        <p>This is basically how our organization works!</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Talk to a professional</h3>
        <p>Still have more questions? We have people to help you out!</p>
      </div>
    </div>
  </div>
</section>
{% endblock  %}
